.search-input{
    @include input(40%)
}

.diet-container{
    width: 300px;
    margin: 20px;
    height: 600px;
    background: #CAE4DB;
    border-radius: 20px;
    display: flex;
    font-family: 'Open Sans', sans-serif;

    flex-direction: column;

}
.diet-name{
    color: #393f4d;
    font-weight: 600;
}
.food-list{
    padding: 0;
    margin: 0;
    width: 100%;
    li{
        font-family: 'Open Sans', sans-serif;
        color: #393f4d;
        font-size: 20px;
        border-bottom: 0.5px  solid darkgray;




    }
}