.UserDietContainer{
    position: absolute;
    z-index: 9999;
    width: 500px;
    display: flex;
    height: 870px;
    background-color: whitesmoke;
    border-radius: 30px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.user-diet-name{
    color: #393f4d;
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 20px;
}
.user-diet-like{
    font-size: 20px ;
    margin-left: 15px;
    margin-top: 3px;
    cursor: pointer;
    &:hover{
        color: #61dafb;

    }
}
.user-diet-no-like{
    font-size: 20px ;
    margin-left: 15px;
    margin-top: 3px;
    color: #61dafb;
    cursor: pointer;
    &:hover{
        color: black;

    }
}
.comment-container{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
}
.comment-container-img{
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

}
.comment-container-text-container{
    display: flex;
    font-family: "Open Sans";
    flex-direction: column;
    word-break: break-all;
    span{
        font-weight: 600;
    }
    p{
        margin: 0;
        font-size: 14px;
    }
}