@import '/Navbar/Navbar.scss';
@import '/Parts.scss';
@import '/Login/Login.scss';
@import '/Profile/Profile.scss';
@import '/Profile/UserProfile.scss';
body {
    font-family: 'Open Sans', sans-serif;
    background-color:  #CAE4DB;

}


*{
    box-sizing: border-box;
}