@mixin input($width){

        width: $width;
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        font-weight: lighter;
        font-size: 20px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        &::placeholder{
            color: white;
            font-weight: lighter;
        }
        &:focus{
            background: transparent;
            border-bottom: 2px solid #CAE4DB;
            outline: none;

        }

}
.add-food{
        display: inline-flex;
        width: 10%;
        padding: 10px;
        justify-content: center;
        outline: none;
        border: none;
        font-weight: lighter;
        color: #393f4d;
        background-color: black;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 3px;
        &:hover{
            color: white;
        }

}
.far.fa-trash-alt{
    &:hover{
        color: #FF4136;
        cursor: pointer;
        transition: 0.3s;
    }
}
.far.fa-edit{
    &:hover{
        color: #FF4136;
        cursor: pointer;
        transition: 0.3s;
    }
}
.share{
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 3px;
    border: 3px solid #393f4d;
    font-weight: 400;
    color: #393f4d;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
    &:hover{
        color: #FF4136;
        border: 3px solid #FF4136;
    }
}
.error-message{
    color: #FF4136;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.form-food{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

}

.food-ul{
    padding: 0;
    margin: 0;
    width: 100%;

    li{
        font-family: 'Open Sans', sans-serif;
        color: white;
        padding: 10px  0 10px 0;
        margin: 0 40px 0 40px;
        font-size: 20px;
        border: 1px  solid white;




    }
}
.food-calories{
    font-weight: 400;
    color: #FF4136;
    font-size: 20px;
    float: right;

}
.form-food-container{
    width: 40%;
    display: flex;
    justify-content: center;

}
@mixin input-container($width){
    width: $width;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container-food{
    @include input-container(70%)

}
.input-container-calories{
    @include input-container(20%);
    margin-left: 56px;
}

.food-add{
    display: inline-flex;
        width: 10%;
        //margin-bottom: 4px;
        //margin-top: 5px;
        justify-content: center;
        outline: none;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 3px;
        border: 2px solid white;
        font-weight: 400;
        color: white;
    margin-left: 50px;
        border-radius: 20px;
        font-size: 20px;
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Open Sans', sans-serif;
        &:hover{
            color: #FF4136;
            border: 2px solid #FF4136;
        }

}
.input-food{
    @include input(100%)
}
.input-calories{
    @include input(100%)
}
.input-food-edit{
    @include input(40%);

    margin: 0 5px 0 0;


}
.input-calories-edit{
    @include input(20%);

    margin: 0 5px 0 0;

}